@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

h1 {
    font-family: 'Elms Sans', sans-serif;
}
h3 {
    font-family: 'Elms Sans', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
/* Only this fonts used for entire project */
/* font-mono */